* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

#root {
  background-color: #fa8f05;
  color: #090909;

  min-height: 100vh;
}

.container {
  max-width: 1180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
